
{% extends "base.html" %}
{% block title %}Create Forms{% endblock %}

{% block content %}
    <style>
        .hidden-field {
            display: none;
        }
    </style>
    <h1>Create questionnaire form</h1>

    <form method="post" role="form" class="build-wrap" id="build-wrap">
        <!-- <input type="hidden" name="id" value="{{ id }}"> -->
    </form>

{% endblock %}

{% block customJS %}

    <script src="{{ url_for('static', filename = 'node_modules/formBuilder/dist/form-builder.js') }}"></script>
    <script src="{{ url_for('static', filename = 'node_modules/formBuilder/dist/form-render.min.js') }}"></script>

    <script>
        {% set items = continut %}
        let varTest = {{items|safe}};
        var metatagExists = 0;
        var metatagsElem = {};

        console.log(varTest);
        
        for (const prop in varTest){
            console.log(varTest[prop]['label']);
            if(varTest[prop]['label'] == "Metatags"){
                metatagExists = 1;

            };
        }

        console.log(metatagExists);

        if(metatagExists == 0){
            metatagsElem = {"type": "text", "label": "Metatags", "className": "form-control", "name": "Metatags", "value": ""};
            varTest.push(metatagsElem);
        }

        jQuery(function($) {
            // var formData = '[{"type": "checkbox-group","toggle": false,"inline": false,"other": false, "values": [{"label": "Option 1"}, {"label": "Option 2"}], "label": "Checkbox"}, {"type": "text", "label": "Text Field", "className": "form-control"}, {"type": "text", "label": "Text Field", "className": "form-control"}]';
            var formData = varTest;
            var fbEditor = document.getElementById("build-wrap"),
            options = {
                disabledAttrs: [ "other", "placeholder", "className", "subtype", "access", "maxlength", "required", "name"],
                disableFields: ['select', 'textarea', 'autocomplete', 'button', 'hidden', 'paragraph', 'number', 'file'],
                disabledFieldButtons: {
                    text: ['copy'],
                    header: ['copy'],
                    "radio-group": ['copy'],
                    "checkbox-group": ['copy'],
                    date: ['copy'],
                    select: ['copy'],
                    number: ['copy'],
                },
                controlOrder: [
                    'header',
                    'text',
                    'checkbox-group',
                    'radio-group',
                    'date',
                    'textarea',
                    'select'
                ],
                replaceFields: [
                    {
                    type: "text",
                    label: "+ question with free answer"
                    },
                    {
                    type: "date",
                    label: "+ question with calendar data"
                    },
                    {
                    type: "checkbox-group",
                    label: "+ question with multiple choice"
                    },
                    {
                    type: "header",
                    label: "Form Title",

                    },
                    {
                    type: "radio-group",
                    label: "+ question with single choice",
                    values: [{ label: "Yes", value: "yes" }, { label: "No", value: "no" }],
                    "other": false,
                    "access": false,
                    },
                    {
                    type: "select",
                    label: "+ question with single choice from multiple options",
                    "other": false,
                    "access": false,
                    },
                    /*{
                    type: "number",
                    label: "+ question with numeric slider response"
                    },*/

                ],
                typeUserDisabledAttrs: {
                    'radio-group': [
                        'options',
                        'inline',
                    ],
                    'checkbox-group': [
                        'toggle',
                        'inline',
                    ],
                    'date':[
                        'value'
                    ],
                    
                },
                typeUserEvents: {
                    'checkbox-group': {
                        onadd: function(fld) {
                            $('.option-selected').removeAttr('checked');
                        }
                    },
                    'select': {
                        onadd: function(fld) {
                            $('.fld-multiple').hide();
                            var myInputBoxID = $('.fld-multiple').attr("id");
                            console.log(myInputBoxID);
                            
                            $('label[for="' + myInputBoxID + '"]').hide();
                        }
                    }
                },
                dataType: 'json',
                formData,
                // onSave: function(evt, formData) {
                    
                //     // formData = [...formData, {"type": "hidden","name": "id","value": {{ id }}}] ;
                //     //     {IDNOU: {{ id }}}
                    
                //     formData = formData.slice(0, -1) + ',{"type": "hidden","name": "id","value": {{ id }} }]';

                //     $.ajax({
                //         type: "post",
                //         url: "{{url_for('views.createform')}}",
                //         contentType: 'application/json',
                //         data : JSON.stringify(formData),
                //         dataType : 'json',
                //         success: function (response) {
                //             location.href = "/";
                //         },
                //         error: function(jqXHR, textStatus, errorThrown) {
                //             console.log(textStatus, errorThrown);
                //         }
                //     });

                // },
            
            };
        $(fbEditor).formBuilder(options);

        //console.log(fbEditor)
        });

    </script>


{% endblock %}